* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(./music_cafe2a.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(38,38,38);
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #bdbaba;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
 
}

header a.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courgette', cursive;

}

/* header a:hover {
  background-color: #FBC02D;
  color: #212121;
}

header a.active {
  background-color: #FBC02D;
} */

nav {
  display: flex;
  align-self: start; 
  font-family: 'Oswald', sans-serif;

  }
nav a{

    margin: 0 25px;
    font-size: 25px;
}
  

button

{

width: 10%;
font-size: 20px;
background-color: rgb(38,38,38);
border: 3px solid whitesmoke;
border-radius: 5px;
color: whitesmoke;

}

button:hover
{
    background-color: rgb(0, 0, 0);
}